body {
    background-color: #f5f5dd;
}

.kwadrat {
    background: rgba(0, 0, 0, 0,);
    
}


.kwadrat1 {
    background: rgba(0,0,0,0.7);
    
}
.kwadrat3 {
    background: rgba(0,0,0,0.5);

}  

.kwadrat4 {
    background: rgba(0,0,0,0.2);
   
}

div {
    width: 100px;
    height: 100px;
}